{% extends "/./base.html" %}
{% block content %}

<main class="container">
    <div class="row">
        <div class="col-sm-11">
            <h1>{{ colaborador.nome_civil }}</h1>
        </div>
        <div class="col-sm-1">
            <a class="btn btn-outline-dark"
            href="/cadastro_clb/{{ colaborador.id }}" role="button">&nbsp;Voltar&nbsp</a>
        </div>
    </div>

    <hr>

    <form class="needs-validation" id="novo_colaborador" name="novo_colaborador"
        action="/edicao_clb/{{ colaborador.id }}" method="POST" novalidate>
        <div class="row">
            <div class="col-sm-5">
                <small><em><strong>Criado em:</strong> {{ data_criacao }}</em></small>
            </div>
            <div class="col-sm-4">
                <small><em><strong>Atualizado em:</strong> {{ data_atualizacao }}</em></small>
            </div>
            <div class="col-sm-2">

            </div>
            <div class="col-sm-1">
                <button type="submit" class="btn btn-outline-success" id="salvar"
                    name="Salvar" value="">&nbsp;Salvar&nbsp;</button>
            </div>
        </div>

        <br>
        <br>

        <div class="row">
            <div class="col-sm-2">
                <label for="id">IDC</label>
                <input type="text" class="form-control" name="id" id="id"
                    value="{{ colaborador.id }}" disabled>
            </div>
            <div class="col-sm-2">
                <label for="status">STATUS</label>
                <input type="text" class="form-control" id="status"
                    name="status" value="{{ colaborador.status }}" disabled>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6 position-relative">
                <label for="nome_civil">Nome Civil</label>
                <input type="text" class="form-control"
                    name="nome_civil" id="nome_civil"
                    minlength="3" maxlength="60"
                    placeholder="Informe o nome civil"
                    value="{{ colaborador.nome_civil }}" required>
                <div class="invalid-tooltip">
                    Informe o nome civil (3 até 60 caracteres).
                </div>
            </div>
            <div class="col-sm-6">
                <label for="nome_social">Nome Social</label>
                <input type="text" class="form-control"
                    name="nome_social" id="nome_social"
                    minlength="3" maxlength="60"
                    placeholder="Informe o nome social"
                    value="{{ colaborador.nome_social }}">
                <div class="invalid-tooltip">
                    O campo nome social deve conter de 3 até 60 caracteres.
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-6 position-relative">
                <label for="email">E-mail</label>
                <input type="email" class="form-control"
                    name="email" id="email" maxlength="60"
                    placeholder="Informe o e-mail"
                    value="{{ colaborador.email }}" required disabled>
                <div class="invalid-tooltip">
                    Informe um e-mail válido (até 60 caracteres).
                </div>
            </div>
            <div class="col-sm-3 position-relative">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control"
                    name="cpf" id="cpf"name="cpf" id="cpf"
                    minlength="11" maxlength="11"
                    onkeypress="$(this).mask('000.000.000-00')"
                    value="{{ mascara_cpf(colaborador.cpf) }}" disabled>
                <div class="invalid-tooltip">
                    Informe o CPF (11 dígitos).
                </div>
            </div>
            <div class="col-sm-3 position-relative">
                <label for="data_nascimento">*Data de Nascimento</label>
                <input class="form-control" name="data_nascimento"
                    id="data_nascimento" type="date"
                    min="1921-01-01" max="2022-06-15"
                    value="{{ colaborador.data_nascimento }}" required>
                <div class="invalid-tooltip">
                    Informe a data de nascimento.
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-3 position-relative">
                <label for="iniciativa">Iniciativa</label>
                <select class="form-select" name="iniciativa" id="iniciativa" required>
                    {% if current_user.tipo_clb == '4' %}
                    <option value="{{ colaborador.iniciativa }}"selected>
                        {{ colaborador_cad_dic['iniciativa'][colaborador.iniciativa] }}</option>
                    {% else %}
                    <option value="1">{{ colaborador_cad_dic['iniciativa']['1'] }}</option>
                    <option value="2">{{ colaborador_cad_dic['iniciativa']['2'] }}</option>
                    {% endif %}
                </select>
                <div class="invalid-tooltip">
                    Informe a iniciativa referente ao(à) Colaborador(a).
                </div>
            </div>
            <div class="col-sm-3 position-relative">
                <label for="tipo_clb">Tipo</label>
                <select class="form-select" name="tipo_clb" id="tipo_clb" required>
                    {% if current_user.tipo_clb == '4' %}
                    <option value="{{ colaborador.tipo_clb }}"selected>
                        {{ colaborador_cad_dic['tipo'][colaborador.tipo_clb] }}</option>
                    {% else %}
                    <option value="5">{{ colaborador_cad_dic['tipo']['5'] }}</option>
                    <option value="4">{{ colaborador_cad_dic['tipo']['4'] }}</option>
                    {% endif %}
                </select>
                <div class="invalid-tooltip">
                    Informe o tipo de Colaborador(a).
                </div>
            </div>
            <div class="col-sm-6 position-relative">
                <label for="lotacao">Entidade</label>
                <select class="form-select" name="lotacao" id="lotacao" required>
                    {% if current_user.tipo_clb in '4' %}
                    <option value="{{ current_user.lotacao }}" selected>
                        {{ entidade_cad_dic['entidade'][current_user.lotacao] }}
                    </option>
                    {% elif current_user.tipo_clb in '123' %}
                    <option value=""selected>
                        Entidade não implementada na versão atual!
                    </option>
                    {% elif current_user.tipo_clb == '0' %}
                    <option value="{{ colaborador.lotacao }}"selected>
                        #{{ entidade_cad_dic['entidade'][colaborador.lotacao] }}
                    </option>
                    {% for chave_entidade in entidade_cad_dic['entidade'] %}
                        {% if chave_entidade != colaborador.lotacao %}
                    <option value="{{ chave_entidade }}">
                        {{ entidade_cad_dic['entidade'][chave_entidade] }}
                    </option>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                </select>
                <div class="invalid-tooltip">
                    Informe a Entidade do(a) Colaborador(a).
                </div>
            </div>
        </div>
    </form>
    <br>
    <br>
</main>

<script src="../static/js/jquery-3.6.0.min.js" ></script>
<script src="../static/js/jquery.mask.min.js" ></script>
<script>
// Example starter JavaScript for disabling form submissions if there are invalid fields
(function () {
    'use strict'

    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.querySelectorAll('.needs-validation')

    // Loop over them and prevent submission
    Array.prototype.slice.call(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                    event.preventDefault()
                      event.stopPropagation()
                }

                form.classList.add('was-validated')
          }, false)
        })
})()
</script>
{% endblock %}
