{% extends "base.html" %}
{% block content %}

<main class="container">
    <h1>CadPSR+</h1>
        <small><em>Projeto Integrador II - Grupo 34 - UNIVESP - 1ºSEM/2022.</em></small>
    <br>
    <br>
    <br>
    <section>
        <h2>CadPSR Mais: implementação de melhorias e novas funcionalidades</h2>
        <br>
        <div class="row gx-3 gy-2">
            <div class="col-sm-6">
                <h2>CadPSR+  |  {{ cadpsr_versao }}</h2>
                <br>
                <p>Aplicação Web desenvolvida conforme tema norteador da Disciplina de Projeto Integrador 2.</p>
                <p>Solução criada para servir de prova de conceito referente à integração do cadastro de Pessoas em situação de rua via aplicação web.</p>
            </div>
            <div class="col-md-4" align="center">
                <!-- Imagem por Clay Banks (@claybanks - Unsplash) - Fonte: https://unsplash.com/photos/LjqARJaJotc -->
                <img src="../static/img/clay-banks-LjqARJaJotc-unsplash_300x225.jpg" class="rounded mx-auto d-block" alt="Mãos sobrepostas em mesa de madeira com a palma da mão virada para baixo.">
                <footer>
                        <small><em>Imagem por Clay Banks (Unsplash: @claybanks)</em></small>
                </footer>
            </div>
        </div>
    </section>

<br>
</main>
{% endblock %}
